<!-- <!DOCTYPE html>
<html lang="en"> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN SIGN_UP</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div id="container">
        <div class="box">
            <div class="button-box">
                <button class="button-heading">Sign Up</button>
                <button class="button-heading">Log In</button>
            </div>
            <div>
                <% if(messages.error) { %>
                    <%= messages.error %>
                    <% } %>
                <form action="/login" method="POST" id = "login">
                    <h1 class ="heading">Welcome Back!</h1>
                    <div class="field-wrap">
                        <input id="email" type="email" required autocomplete="off" name="email" placeholder="Email Address*">
                    </div>

                    <div class="field-wrap">
                        <input id="password" type="password" required autocomplete="off" name="password" placeholder="Password*">
                    </div>

                    <p class="forgot"><a href="#">Forgot Password?</a></p>

                    <button type="submit" class="button-block" id="but">Log In</button>

                </form>
            </div>

        

        </div>

    </div>

    </div>
    </div>
    </div>
    <script src="text.js"></script>
</body>

</html>